.dashboardContainer{
  @apply flex flex-col min-h-screen p-8;
  background: var(--color-background-black);

  .dashboardHeader{
    @apply flex justify-between;

    .dashboardHeaderButtons{
      @apply flex gap-4;
    }
  }

  .dashboardOverviewCards{
    @apply flex gap-4 justify-between;

    .card{
      @apply w-full rounded-md p-2.5;
      background: var(--color-background-gray);

      .OverviewHeader{
        h2{
          color: var(--color-text-tertiary);
        }
      }

      .count{
        color: var(--color-text-white);
      }

      p{
        color: var(--color-text-danger);
      }
    }
  }

  .dashboardWidgets{
    @apply flex mt-8 justify-between gap-2.5;

    .widgetProdutividade{
      @apply w-3/5 p-4 rounded-md;
      background: var(--color-background-gray);

      .widgetsHeader{
        @apply flex items-center justify-between;
      }

      .widgetsBody {
        @apply flex justify-between;
      }
    }

    .widgetTarefas{
      @apply w-2/5 p-4 rounded-md;
      background: var(--color-background-gray);

      .widgetsBody{
        @apply flex justify-between;
      }
    }
  }
}
