:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg-button: linear-gradient(135deg, #378ADD 0%, #1D9E75 100%);
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  /* Cores Primárias */
    --color-primary: #378ADD;
    --color-primary-dark: #1D9E75;
    --color-primary-light: #E3F2FD;
  
    /* Cores de Status */
    --color-danger: #FF6B6B;
    --color-success: #51CF66;
    --color-warning: #FFD43B;
    --color-info: #4DABF7;
  
    /* Fundos */
    --color-background-primary: #FFFFFF;
    --color-background-secondary: #F8F9FA;
    --color-background-tertiary: #E9ECEF;
    --color-background-black: #1A1A1A;
    --color-background-gray: #555555;
  
    /* Bordas */
    --color-border-primary: #DEE2E6;
    --color-border-secondary: #CED4DA;
    --color-border-tertiary: #ced4da3d;
  
    /* Texto */
    --color-text-primary: #1A1A1A;
    --color-text-secondary: #555555;
    --color-text-tertiary: #999999;
    --color-text-white: #FFFFFF;
  
    /* Texto Colorido */
    --color-text-danger: #DC3545;
    --color-text-success: #28A745;
    --color-text-warning: #FFC107;
    --color-text-info: #17A2B8;
  
    /* Fundos Coloridos */
    --color-background-danger: #FFE5E5;
    --color-background-success: #E8F5E9;
    --color-background-warning: #FFF3CD;
    --color-background-info: #E3F2FD;
  
    /* Border Radius */
    --border-radius-md: 8px;
    --border-radius-lg: 12px;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

// #root {
//   width: 1126px;
//   max-width: 100%;
//   margin: 0 auto;
//   text-align: center;
//   border-inline: 1px solid var(--border);
//   min-height: 100svh;
//   display: flex;
//   flex-direction: column;
//   box-sizing: border-box;
// }

body {
  margin: 0;
}
