.homePage {
  @apply p-10 w-full max-w-[420px] justify-self-center self-center rounded-md;
  background: var(--color-background-gray);
  border: 0.5px solid var(--color-border-secondary);
}

.backgroundImage {
  @apply w-14 h-14 mx-auto mb-4 flex items-center justify-center rounded-[14px];
  background: linear-gradient(135deg, #378ADD 0%, #1D9E75 100%);
}

.titleSubtitle {
  @apply text-center;

  h1, p{
    color: var(--color-text-white);
  }
}

.loginForm {
  @apply flex flex-col gap-[5px];

  label{
    @apply text-left text-sm m-0;
    color: var(--color-text-white);
  }

  input{
    @apply p-3 rounded-md;
    background-color: var(--color-background-gray);
    border: 0.5px solid var(--color-border-tertiary);
    color: var(--color-text-tertiary);
  }

  button {
    @apply w-full p-3 rounded-md text-[15px] font-medium cursor-pointer text-white border-none;
    background: linear-gradient(135deg, #378ADD 0%, #1D9E75 100%);
    transition: opacity 0.2s;
  }
}

.rememberForgot {
  @apply flex items-center justify-between mb-6 text-[13px];

  .remember{
    @apply flex;

    label {
      @apply flex items-center gap-1.5 cursor-pointer;
      color: var(--color-text-white);
    }
  }

  a {
    @apply no-underline;
    color: var(--color-text-info);
  }
}

.register {

  p {
    color: var(--color-text-white);
  }

  a{
    @apply no-underline;
    color: var(--color-text-info);
  }
}
